@import url(http://fonts.googleapis.com/css?family=Kreon:300,400,700|PT+Serif:400italic,400,700italic,700);
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);

$base-font-family: 'Helvetica', sans-serif;
$base-serif-font-family: 'Kreon', serif;
$base-code-font-family: 'Inconsolata', monospace;
$base-font-size: 13pt;
$background-color: #ECE7E1;
$text-color: #1F0525;
$link-color: #B06944;

/* Susy variables */
$total-columns: 12;
$column-width: 4rem;
$gutter-width: 1rem;
$grid-padding: $gutter-width / 2;
$container-style: magic;