<div class="container">
	<div class="row">
    <div class="span3 offset6">
      <h4><i class="icon-map-marker"></i> Dirección</h4>
      <address>
        <strong>Hackerspace Monterrey</strong><br>
        Isaac Garza 735-A<br>
        Monterrey, N.L.<br>
        <abbr title="Código postal">C.P.</abbr> 64700<br>
        <abbr title="Teléfono"><i class="icon-phone"></i></abbr> (81) 19-36-9480
      </address>
      <a href="/ubicacion.html">Ver mapa</a>
    </div>
		<div class="span3">
			<h4>Horario</h4>
			<table class="table table-condensed">
				<tr><td>L-V</td><td>19:00 a 23:00</td></tr>
				<tr><td>Sábados</td><td>14:00 a 24:00</td></tr>
				<tr><td>Junta semanal</td><td>Martes 19:00</td></tr>
			</table>
			<span class="btn btn-warning icon-question-sign"> El espacio está <span id="api_status">abierto/cerrado</span></span>
		</div>
	</div>
</div>