			</div>

			<div id="side-content">
				<a href="http://github.com/hsmty">
					<i class="fa fa-github-square fa-lg fa-fw"></i>
				</a>
				<a href="http://facebook.com/hackerspacemty">
					<i class="fa fa-facebook-square fa-lg fa-fw"></i>
				</a>
				<a href="http://twitter.com/hackersmty">
					<i class="fa fa-twitter-square fa-lg fa-fw"></i>
				</a>
				<a href="{{ '/paginas/irc' | prepend: site.url }}">
					<i class="fa fa-comments-o fa-lg fa-fw"></i>
				</a>
				
				<br>
				<br>
				
				<strong>Dirección</strong><br>
				Isaac Garza 735-A<br>
				Monterrey, N.L.<br>
				C.P. 64000<br>
				<i class="fa fa-phone"></i> (81) 19-36-9480
				<br>
				<a href="{{ '/paginas/ubicacion' | prepend: site.url }}">
					<i class="fa fa-map-marker"> Mapa</i>
				</a>
				
				<br>
				<br>
				
				<strong>Horario</strong><br>
				Martes:<br>
				19:00 a 23:00<br>
				Sábado:<br>
				14:00 a 00:00<br><br>
				<strong>Junta semanal:</strong><br>
				Martes 19:00
			</div>
		</div>

		<footer id="main-footer">
			{{ site.title }} 2014<br>
			<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
				<img alt="Creative Commons License" style="border-width:0"
				     src="http://i.creativecommons.org/l/by/4.0/80x15.png" />
			</a>
		</footer>
	</div>
</body>
</html>
