<a href="mailto:general@hsmty.org"><i class="fa fa-envelope fa-lg fa-fw"></i></a>
<a href="http://facebook.com/hackerspacemty"><i class="fa fa-facebook fa-lg fa-fw"></i></a>
<a href="http://twitter.com/hackersmty"><i class="fa fa-twitter fa-lg fa-fw"></i></a>
<a href="{{ site.url | append: 'irc.html' }}"><i class="fa fa-comments fa-lg fa-fw"></i></a>
<br>
<br>
<strong>Dirección</strong>
<br>
Isaac Garza 735-A
<br>
Monterrey, N.L.
<br>
C.P. 64000
<br>
<i class="fa fa-phone"></i> (81) 19-36-9480
<br>
<a href="{{ site.url | append: 'ubicacion.html' }}"><i class="fa fa-map-marker"> Mapa</i></a>
<br>
<br>
<strong>Horario</strong>
<dl class="split">
	<dt class="split__title">Martes</dt>
	<dd>19:00 a 23:00</dd>
	<dt class="split__title">Sábado</dt>
	<dd>14:00 a 24:00</dd>
	<dt class="split__title">Junta semanal</dt>
	<dd>Martes 19:00</dd>
</dl>
